@model Examine.Web.Demo.Models.FacetSearchModel

<h2>Search results</h2>

<h5>TOTAL: @Model.SearchResult.TotalItemCount</h5>

<ul>
    @foreach (var result in Model.SearchResult)
    {
        <li>
            Id: @result.LongId<br />
            Score: @result.Score<br />
            <ul>
                <li><strong>Id</strong>&nbsp;=&nbsp;<em>@result.LongId</em></li>
                @foreach (var field in result.Fields)
                {
                    <li>
                        <strong>@field.Key</strong>&nbsp;=&nbsp;<em>@field.Value</em>
                    </li>
                }
                <li><strong>Column5 Highlight</strong>&nbsp;=&nbsp;<em>@result.GetHighlight("Column5")</em></li>
                <li><strong>Column6 Highlight</strong>&nbsp;=&nbsp;<em>@result.GetHighlight("Column6")</em></li>
                @if (result.Facets != null && result.Facets.Length > 0)
                {
                    <li>
                        <strong>Facets</strong>
                        <ul>
                            @foreach (var fac in result.Facets)
                            {
                                <li><strong>@fac.FacetId</strong>&nbsp;=&nbsp;<em>@fac.Level.ToString("N2")</em></li>
                            }
                        </ul>
                    </li>
                }
                @if (result.FacetCounts != null && result.FacetCounts.Length > 0)
                {
                    <li>
                        <strong>Facet Counts</strong>
                        <ul>
                            @foreach (var fc in result.FacetCounts)
                            {
                                <li><strong>@fc.FieldName</strong>&nbsp;=&nbsp;<em>@fc.Count</em></li>
                            }
                        </ul>
                    </li>
                }
            </ul>

        </li>
    }
</ul>

@if (Model.CountFacets)
{
    <h3>Facet Counts</h3>
    <ul>
        @foreach (var res in Model.SearchResult.FacetCounts.GetTopFacets(10))
        {
            <li><strong>@res.Key.FieldName</strong>&nbsp;:&nbsp;<span>@res.Key.Value</span>&nbsp;count=&nbsp;<em>@res.Count</em></li>
        }
    </ul>
}

@if (Model.FacetMap != null)
{
    <h3>Field names</h3>
    <ul>
        @foreach (var f in Model.FacetMap.FieldNames)
        {
            <li>
                <strong>@f</strong>
                @foreach (var val in Model.FacetMap.GetByFieldNames(f))
                {
                    <br/>
                    <span>@val.Key</span><span>&nbsp;=&nbsp;</span><em>@val.Value</em>
                }
            </li>
        }
    </ul>
}

<hr/>

@{
    Model.Watch.Stop();
}
<div>@string.Format("Elapsed {0:N2} ms.", Model.Watch.Elapsed.TotalMilliseconds)</div>