@model Examine.Web.Demo.Models.FacetSearchModel

<div class="page-header">
    <h1>Search results</h1>
</div>

@Html.Partial("_Results", Model.SearchResult)

<div class="row">
    <div class="col-sm-6">
        @if (Model.CountFacets)
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Top 10 Facet Counts</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        @foreach (var res in Model.SearchResult.FacetCounts.GetTopFacets(10))
                        {
                            <li>
                                @using (Html.BeginForm("SearchFacets", "Home", FormMethod.Get))
                                {
                                    <button type="submit" class="btn btn-link">
                                        @res.Key.Value&nbsp;<em>(@res.Count)</em>
                                    </button>
                                    <small class="pull-right">@res.Key.FieldName</small>
                                    

                                    <input type="hidden" name="q" value="@res.Key.Value"/>
                                    <input type="hidden" name="count" value="@Request.QueryString["count"]"/>
                                    <input type="hidden" name="countFacets" value="@Request.QueryString["countFacets"]"/>
                                    <input type="hidden" name="facetFilter" value="true"/>
                                    <input type="hidden" name="field" value="@res.Key.FieldName"/>
                                    <input type="hidden" name="all" value="false"/>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>

    <div class="col-sm-6">
        @if (Model.FacetMap != null)
        {
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Facet field names</h3>
                </div>
                <ul class="list-unstyled">
                    @foreach (var f in Model.FacetMap.FieldNames)
                    {
                        <li>
                            <strong>@f</strong>
                            <ul>
                                @foreach (var val in Model.FacetMap.GetByFieldNames(f))
                                {
                                    <li>
                                        <span>@val.Key</span>
                                        <span>&nbsp;=&nbsp;</span>
                                        <em>@val.Value</em>
                                    </li>
                                }
                            </ul>

                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>

@{
    Model.Watch.Stop();
}
<p>
    @string.Format("Elapsed {0:N2} ms.", Model.Watch.Elapsed.TotalMilliseconds)
</p>
