@using Examine
@inject IExamineManager ExamineManager


@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<p>
    TODO: Add some info here about Examine.<br/>
    TODO: Update this ugly template.
</p>
@using (Html.BeginForm("RebuildIndex", "Home"))
{
    <p>
        Click to rebuild the index with 27000 rows into Examine
        <br />
        <select name="indexName">
            @foreach(var index in ExamineManager.Indexes)
            {
                <option value="@index.Name">@index.Name</option>    
            }
        </select>
        <button type="submit">Index Data</button>
    </p>
}

@using (Html.BeginForm("TestIndex", "Home"))
{
    <p>
        Click to check what is in the index
        <br />
        <select name="indexName">
            @foreach(var index in ExamineManager.Indexes)
            {
                <option value="@index.Name">@index.Name</option>    
            }
        </select>
        <button id="index" name="index">
            Test index
        </button>
    </p>
}

@using (Html.BeginForm("ReIndexItems", "Home"))
{
    <p>
        Click to re-index a few items
        <br />
        <select name="indexName">
            @foreach(var index in ExamineManager.Indexes)
            {
                <option value="@index.Name">@index.Name</option>    
            }
        </select>
        <button id="index" name="index">
            Re-index items
        </button>
    </p>
}

@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <p>
        Click to search
        <br />
        <select name="indexName">
            @foreach(var index in ExamineManager.Indexes)
            {
                <option value="@index.Name">@index.Name</option>    
            }
        </select>
        <input type="text" name="id" placeholder="Search..." />
        <button type="submit">Search</button>
    </p>
}
