<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    @*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/bower_components/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />

</head>
<body role="document">
    <nav class="navbar navbar-inverse">
        <div class="container">            
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>                    
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" role="main">
        @RenderBody()               
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="@Url.Content("~/bower_components/jquery/dist/jquery.min.js")"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Url.Content("~/bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>
</body>
</html>
